/build/
/dist/
/Ext/tests/classes/
/Ext/tests/output/
/lib/
/opengamma.Rcheck/
/TestResults/
/*/Debug/
/*/Release/
/*/DebugWin32/
/*/ReleaseWin32/
/*/Debugx64/
/*/Releasex64/
/*/*.aps
/*/*.vcxproj.user
/OG-Pirate.suo
.fudge-proto-gitignore
MANIFEST.MF
build.number
.settings/
