/*
 * Copyright (C) 2011 - present by OpenGamma Inc. and the OpenGamma group of companies
 *
 * Please see distribution for license.
 */

#include "Client_resource.h"
#include "DllVersionInfo.h"
#include <util/cpp/DllVersionInfo.h>
#include <util/resource/OpenGamma.rc>
