*~
foo~
*.class
*.log
.project
.classpath
.checkstyle
/bin/
/build/
/dist/
/doc/
/target/
/lib/
/ivy/
/temp/
/tests/classes/
/tests/output/
/test-output/
/TestResults/
/*/Debug/
/*/Release/
/*/DebugWin32/
/*/ReleaseWin32/
/*/Debugx64/
/*/Releasex64/
/*/Temp/
/*/*.aps
/*/*.vcxproj.user
/Connector/com_opengamma_language_*
/OG-Language.suo
MANIFEST.MF
build.number
.settings/
/_ReSharper*
javadoc-data.json
*.pyc
!web/*
/*.DS_Store
.clover/
*.iws
*.ids
.idea/libraries
.idea/workspace.xml
.idea/dictionaries
.idea/inspectionProfiles
.idea/misc.xml
.idea/validation.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/sqldialects.xml
