*~
foo~
*.class
*.log
.project
.classpath
.checkstyle
/bin/
/build/
/dist/
/target/
/lib/
/ivy/
/temp/
/Ext/tests/classes/
/Ext/tests/output/
/TestResults/
/OpenGamma.Rcheck/
tests/classes/
tests/output/
test-output/
javadoc-data.json
*.pyc
!web/*
/*.DS_Store
/MANIFEST.MF
.clover/
build.number
.settings
*.iws
*.ids
.idea/libraries
.idea/workspace.xml
.idea/dictionaries
.idea/inspectionProfiles
.idea/misc.xml
.idea/validation.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/sqldialects.xml
/*/Debug/
/*/Release/
/*/DebugWin32/
/*/ReleaseWin32/
/*/Debugx64/
/*/Releasex64/
/*/*.aps
/*/*.vcxproj.user
/OG-RStats.suo
.fudge-proto-gitignore
/package/LICENSE
logs/
artifacts/
output/
output-long/
